/*
 * Default config file for coding test pipeline
 */

params {
    test_bed_path = './data/breaks'
    outdir = './results'
    AsiSI_bed = './data/chr21_AsiSI_sites.t2t.bed'

    // Set the quality score 
    // for BED filtering in
    // in quality_filter process.
    quality_score = 30

    // use a docker image
    includeConfig 'conf/images.config'
}